@import "~framework7/dist/css/framework7.ios.css";
@import "~framework7/dist/css/framework7.ios.colors.css";
@import "mixins";
@import "button";
@import "icon";
@import "input.less";
@import "navbar";
@import "toolbar";
@import "overrideK7";

body{
    font-family: "微软雅黑";
    color: @color-v2-base-black;
}

.hide{
    display: none!important;
}
